<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>채팅방 생성</title>
</head>
<body>
  <h1>채팅방 생성</h1>

  <form method="post" action="/channel/create">

    <input type="text" name="name" placeholder="채팅방 이름" required>
    <button type="submit">채팅방 생성</button>
  </form>
</body>
</html>
