<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>채팅방 수정</title>
</head>
<body>
  <h1>채팅방 수정</h1>

  <form method="post" action="/channel/modify">
    <input type="text" name="name" placeholder="새로운 채팅방 이름" required>
    <button type="submit">수정 완료</button>
  </form>
</body>
</html>
